.container
{
	display: flex;
}

.left_top_block 
{
	width: 45%;
	height: 442px;
}

.left_down_block 
{
	width: 45%;
}

.right_block
{
	width: 55%;
}

.photo_pos
{
	border-radius: 4px;
	margin-top: 92px;
	margin-right: 47px;
	float: right;
	height: 350px;
	width: 330px;
}


.sign
{	
	color: #333;	
	margin-top: 15.5px;
	margin-left: 76px;
	font: 600 16px Open Sans, sans-serif;

}

p.quote
{
	margin-left: 73px;	
	margin-block-start: 0;	
	margin-block-end: 0;
	font: italic 500 28px/42px Georgia, serif;
	color: #848484;
}

img.quote
{
	margin-top: 142px;
	margin-left: 12.5px;
	position: absolute;
}

div.quote
{
	margin-top: 211px;
	width: 560px;
	height: 231px;
}


.list_tit_ul
{
	display: block;
	width: 330px;
	color: #45C3AA;
	margin-left: 472px;
	margin-top: 49px;
	font: 600 24px/1 Open Sans, sans-serif;
	font-stretch: normal;
	margin-block-end: 0; 
}

.list_tit_ol
{
	display: block;
	width: 330px;
	color: #45C3AA;
	margin-left: 472px;
	margin-top: 46px;
	font: 600 24px/1 Open Sans, sans-serif;
	font-stretch: normal;
	margin-block-end: 0; 
}

ul
{
	width: 309px;
	color: #555;
	margin-left: 493px;
	margin-top: 16px;
	padding-left: 0;
	font: 19px/1.9 Georgia, serif;
}

ol
{
	width: 309px;
	color: #555;
	margin-left: 451px;
	margin-top: 15px;
	font: 19px/1.9 Georgia, serif;
}

.head_name
{
	color: #333;
	width: 560px;
	margin-top: 42px; /*42*/
	margin-left: 12.5px;
	font: 700 48px/1 Open Sans, sans-serif;
	margin-block-end: 0; 
}

.line
{
	margin-top: 28px;
	margin-left: 13px;
	width: 60px;
	height: 6px;
	border-radius: 3px;
	background: #45C3AA;
}

.vita  /*Биография*/ 
{
	color: #555;
	width: 560px;
	font: 500 19px/1.7 Georgia, serif;
	margin-top: 27px;
	margin-left: 13px;
}

.hobby
{
	color: #555;
	width: 560px;
	font: 500 19px/1.7 Georgia, serif;
	margin-top: 5px;
	margin-left: 13px;
}

.head_hobby
{
	color: #333;
	width: 560px;
	margin-left: 11px;
	margin-top: 33px;
	font: 500 36px/1.7 Open Sans, sans-serif;
	margin-block-end: 0; 
}

.link
{
	color: #45C3AA;
	font: 500 19px/1.7 Georgia, serif;
	text-decoration: none;
	border-bottom: 1px #45C3AA solid;
}

.arrow_link
{
	margin-left: 13px;
	width: 560px;
	color: #45C3AA;
	margin-top: 41px;
	text-decoration: none;
}